body{
    background-color: rgba(0, 17, 255, 0.589); font-size: medium;
} 
h1 { 
    background-color: rgba(0, 0, 139, 0.473);
} 
p{ 
    background-color: rgb(166, 232, 248); font-family: Arial, Helvetica, sans-serif;
}